<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Portfolio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <a class="nav-link" href="/widoczki">Wszystkie Widoczki</a>
            <a class="nav-link" aria-current="page" href="/widoczki/home">Moje Widoczki</a>
            <a class="nav-link" href="/widoczki/new">Dodaj Widoczek</a>

            <div class='navbar-nav ms-auto'>
                <% if(!currentUser) {%>
                    <a class="nav-link " href="/login">logowanie</a>
                    <a class="nav-link " href="/register">rejestracja</a>
                    <% } else { %>
                        <a class="nav-link disabled" id="name-tag" href="/logout ">
                            <%= currentUser.username %>
                        </a>
                        <a class="nav-link " href="/logout ">wyloguj</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>

<script>// When the user scrolls the page, execute myFunction
    window.onscroll = function () { myFunction() };

    // Get the navbar
    var navbar = document.getElementById("navbar");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
    }</script>