<% layout('layouts/boilerplateKeynotes') %>

    <h1> Tablica wyników </h1>

    <div class="scoreboard-page container">
        <% for (let score of scores) {%>
            <div class="card scores">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h3 class="card-title">
                                <%= score.user %>
                            </h3>
                            <p class="card-text">
                                wynik: <%= score.score %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
    </div>