<% layout('layouts/boilerplateWidoczki') %>
    <div class="row">
        <div class="col-6 offset-3 mt-3" >
            <div class="alert alert-danger" role="alert">
                <p class="mb-0"> ლ(ಠ_ಠლ)</p>
                <h4 class="alert-heading"><%=err.message%></h4>
                <p></p>
                <p> <%=err.stack%> </p>
                <hr>
                <p class="mb-0"> (╯°□°)╯︵ ┻━┻</p>
            </div>
        </div>
    </div>