<% layout('layouts/boilerplateHome') %>
    <h1>Daniel Badura</h1>

    <ul> Lista projektów:
        <li>
            <a href="/widoczki">Widoczki</a>
        </li>
        <li>
            <a href="/keynotes/">Keynotes</a>
        </li>
        <li>
            <a href="/calculator">Kalkulator</a>
        </li>
        <li>
            <a href="/template">Templata</a>
        </li>
        <li>
            <a href="/"> </a>
        </li>
    </ul>