<% layout('layouts/boilerplateHome') %>
    <div class="text-center container-main monsterrat ">
        <br />
        <h1 class="flame-text home-header">Daniel Badura Portfolio</h1>
        <br />
        <br />
        <div class="text-start">

            <% for (let element of projects) { %>
                <div class="card text-center hajlajt">
                    <div class="card-header" style='color:white; background-color: #3e4852;'><strong>
                            <%= element.name %>
                        </strong>
                    </div>
                    <div class="card-body">
                        <% if(element.repo){ %>
                            <h5 class="card-title">
                                <a href="<%= element.repo %>">
                                    github repo
                                </a>
                            </h5>
                            <% } %>
                                <p class="card-text">
                                    <%= element.description %>
                                </p>
                                <a href="<%= element.href %>"
                                    class="btn btn-success btn-lg zobacz"><strong>Zobacz</strong></a>
                                <p></p>
                    </div>
                </div>
                <br />
                <p></p>

                <% }%>


        </div>



    </div>