<% layout('layouts/boilerplateHome') %>
    <div class="main-container ">
        <h1 class="flame-text">Daniel Badura</h1>
        <div class="row">
            <div class='card col-6 project-cards'>
                <div class='card-title'>
                    <a class='link-info' href="/widoczki">Widoczki</a>
                </div>
                <div class="card-body">
                    strona z ładnymi widoczkami
                </div>
                
            </div>
            <div class='card col-6 project-cards'>
                <div class='card-title'>
                    <a class='link-info' href="/keynotes/">Keynotes</a>
                </div>
                <div class="card-body">
                    wirtualne klawisze
                </div>
                
            </div>
            <div class='card col-6 project-cards'>
                <div class='card-title'>
                    <a class='link-info' href="/calculator">Kalkulator</a>
                </div>
                <div class="card-body">
                    Ręcznie robiony kalkulator
                </div>
                <div class='card-title'></div>
                
            </div>
            <div class='card col-6 project-cards'>
                <div class='card-title'>
                    <a class='link-info' href="/template">Templata</a>
                   
                </div>
                <div class="card-body">
                    Templata strony internetowej
                </div>
               
            </div>
            <div class='card col-6 project-cards'>
                <div class='card-title'>
                    <a class='link-info' href="/movies">WWFDB</a>
                </div>
                <div class="card-body">
                    Wyszukiwarka filmowa

                </div>
            
            </div>
            <div class='card col-6 project-cards'>
                <a class='link-info'  href="/"> </a>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>