<% layout('layouts/boilerplateHome') %>
    <div class="main-container monsterrat ">
        <h1 class="flame-text">Daniel Badura</h1>
        <div class="row text-start">
            <div class='card col-6 project-cards'>
                <div class='card-title bebas-neue'>
                    <a class='link-info' href="/widoczki">Widoczki</a>
                </div>
                <div class="card-body monsterrat ">
                    Strona z ładnymi widoczkami
                </div>

            </div>
            <div class='card col-6 project-cards'>
                <div class='card-title bebas-neue'>
                    <a class='link-info' href="/keynotes/">Keynotes</a>
                </div>
                <div class="card-body monsterrat">
                    Wirtualne klawisze
                </div>
            </div>
            <div class='card col-6 project-cards'>
                <div class='card-title  bebas-neue'>
                    <a class='link-info' href="/movies">WWFDB</a>
                </div>
                <div class="card-body monsterrat">
                    Wyszukiwarka filmowa
                </div>
            </div>
            <div class='card col-6 project-cards'>
                <div class='card-title bebas-neue'>
                    <a class='link-info' href="/template">Templata</a>
                </div>
                <div class="card-body monsterrat">
                    Templata strony internetowej
                </div>
            </div>
            <div class='card col-6 project-cards'>
                <div class='card-title bebas-neue'>
                    <a class='link-info' href="/calculator">Kalkulator</a>
                </div>
                <div class="card-body monsterrat">
                    Ręcznie robiony kalkulator
                </div>
            </div>


        </div>
    </div>