<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widoczki</title>
</head>

<body>

    <h1> Edytuj Widok</h1>
    <form action="/widoczki/<%= widoczek._id %>?_method=PUT" method="POST">
            <div>
                <label for="name">Nazwa</label>
                <input type="text" id="name" name="widoczek[name]" value="<%= widoczek.name %>">
            </div>
            <div>
                <label for="location">Lokalizacja</label>
                <input type="text" id="location" name="widoczek[location]" value="<%= widoczek.location %>">
            </div>
            <button>Zatwierdź</button>   
    </form>
    <a href="/widoczki/<%= widoczek._id %>">Powrót do Widoczku</a>
</body>

</html>