<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widoczki</title>
</head>
<body>

    <h1> Wszystkie Widoczki</h1>

    <div>
        <a href="/widoczki/new">Dodaj Widoczek</a>
    </div>
    <ul>
        <% for (let widoczek of widoczki) {%>
        <li><a href="/widoczki/<%= widoczek._id %>"><%= widoczek.name %></a></li>
        <% }%>
    </ul>
    
</body>
</html>