<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widoczki</title>
</head>
<body>
    <h1>  <%= widoczek.name %></h1>
    <h2>  <%= widoczek.location %></h2>

    <p></p>

    <form action="/widoczki/<%=widoczek._id%>?_method=DELETE" method="POST">
        <button>Usuń Widoczek</button>
    </form>

    <a href="/widoczki/<%= widoczek._id %>/edit">Edytuj Widoczek</a>
    <footer>
        <a href="/widoczki">Pokaż wszystkie widoczki</a>
    </footer>
    
</body>
</html>