<% layout('layouts/boilerplateHome') %>
    <div class="container">


        <h3 class="text-justify">Wyszukiwanie: <%= search %>
        </h3>
    </div>
    <div class="row">
        <% for (let movie of movies.Search) {%>

            <div class="col-3">
                <a href="/movies/show/<%= movie.Title %>">
                    <img class="img" src="<%= movie.Poster %>">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <%= movie.Title %>
                        </h5>
                    </div>
                </a>
            </div>



            <% } %>
    </div>