<% layout('layouts/boilerplateCalculator') %>
 
 <h1 class="theTitle">Handmade Calculator</h1>

  <div class="container-main">
    <div class="frame">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 calc-display click "><input type='text' class="form-control" id="input" placeholder="input" disabled></div>
      <div class="col-lg-6 col-md-6 col-sm-6 calc-display click "><input type='text' class="form-control" id="output" placeholder="output" disabled ></div>
    </div>
     
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 calc-button click">1</div>
      <div class="col-lg-4 col-md-4 col-sm-4 calc-button click">2</div>
      <div class="col-lg-4 col-md-4 col-sm-4 calc-button click">3</div>

    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 calc-button click">4</div>
      <div class="col-lg-4 col-md-4 col-sm-4 calc-button click">5</div>
      <div class="col-lg-4 col-md-4 col-sm-4 calc-button click">6</div>

    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 calc-button click">7</div>
      <div class="col-lg-4 col-md-4 col-sm-4 calc-button click">8</div>
      <div class="col-lg-4 col-md-4 col-sm-4 calc-button click">9</div>

    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 calc-button-zero calc-button click">0</div>
    </div>
    <div class="row">
      <div id="plus" class="col-lg-4 col-md-4 col-sm-4 calc-lower-button plus click">+</div>
      <div id="multiply" class="col-lg-4 col-md-4 col-sm-4 calc-lower-button multiply click">multiply</div>
      <div id="clear" class="col-lg-4 col-md-4 col-sm-4 calc-lower-button clear click">clear</div>

    </div>
    <div class="row">
      <div id ="minus" class="col-lg-4 col-md-4 col-sm-4 calc-lower-button minus click">-</div>
      <div id ="divide" class="col-lg-4 col-md-4 col-sm-4 calc-lower-button divide click">divide</div>
      <div id="equals" class="col-lg-4 col-md-4 col-sm-4 calc-lower-button equals click">=</div>

    </div>
  </div>
    
  </div>