.flame-text {
  background-image: linear-gradient(to left, orange, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  padding: 5% 15%;
  margin: auto;
  text-align: center;
}
.footer {
  position: fixed;
  bottom: 0;
  color: gray;
  text-align: center;
}

.list-unstyled {
  font-size: 1.5rem;
  font-weight: 700;
}
h1 {
  font-size: 3rem;
  color: black;
}
.navbar {
  margin-bottom: 1rem;
}
.nav-link:hover {
  transition: 1s;
  color: white;
  transform: scale(110%);
}
.navbar-brand:hover {
  transition: 1s;
  color: white;
  transform: scale(110%);
}
#name-tag {
  color: yellow;
}
.movies-box {
  padding-bottom: 8rem;
}

.monsterrat {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
.bebas-neue {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.3rem;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.hajlajt:hover {
  transition: 800ms;
  transform: scale(105%);
  background-color: rgb(255, 115, 0);
}
.zobacz:hover {
  transition: 800ms;
  color: #198754;
  transform: scale(105%);
  background-color: white;
}
.zobacz {
  transition: 800ms;
  color: white;
  transform: scale(100%);
  background-color: 198754;
}
.hajlajt {
  transition: 800ms;
  transform: scale(100%);
  background-color: white;
}
.home-header {
  font-size: 4rem;
}
